.homepage-container {
  display: flex;
  flex-direction: row;  /* ensures side bar and main content are side by side */
  height: 100vh; /* full height of the viewport */
  width: 100vw; /* full width of the viewport */
  overflow: hidden; /* prevents overflow outside the viewport */
}

.left-container {
  width: 25vw; /* take up 25% of the viewport width */
  height: 100%; /* full height of the parent container */
  overflow-y: auto; /* allows scrolling within the container if content overflows */
}

.main-content {
  flex-grow: 1; /* takes remaining space */
  overflow-y: auto; /* allows scrolling within the container if content overflows */
  padding: 20px; /* adds some padding around the content */
}
