.container2 {
    position: fixed; /* Fix the sidebar in place */
    top: 0;
    left: 0;
    height: 100vh; /* Full height of the viewport */
    width: 25vw; /* Set the width of the sidebar */
    color: white;
    background-color: rgba(107, 177, 151, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left-align the items */
    justify-content: space-between; /* Distribute elements evenly */
    padding: 20px 10px;
    box-sizing: border-box;
    z-index: 1000; /* Ensure the sidebar is above other content */
    font-size: 42px;
    color:black;
}

.container2 > div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.container2 > div:hover {
    text-decoration: underline;
}

.logout-btn {
    background-color: rgb(107, 177, 151);
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    height:99px;
    width:214px;
    font-size: 30px;
}

.right-container {
    margin-left: 25vw; /* Ensure the right content starts next to the sidebar */
    width: 75vw; /* Take the remaining width of the screen */
    height: 100vh;
    overflow-y: scroll; /* Enable scrolling for the right content */
}

h2 {
    margin: 0;
    font-size: 24px;
}

.container2 > div > a {
    color: white;
    text-decoration: none;
}